.coltext {
  height: 20em;
}
.gridflex {
  margin: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.colleft {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.coltext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligneritem {
  width: 60%;
}
.colimage {
  background-size: cover;
  background-position: center center;
}

@media (max-width: 640px) {
  .gridflex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .col {
    order: vertical;
  }
  .colleft {
    -webkit-box-ordinal-group: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .coltext div p {
    padding: 0em;
  }
  .Aligneritem {
    width: 90%;
  }
}
